@import "./thems.scss";


#footer {
  box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.04);
  height: 356px;
  background-color: #fff;
  padding-left:6em;
}
#footer .mt-5 {
  margin-top: 1rem !important;
}

#footer .networks,
a {
  font-size: 27px;
  color: #918f8f;
}

#footer .address-footer {
  width: 203px;
  height: 75px;
  font-family: galano-grotesque-light;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #666;
}

#footer .title-footer {
  font-family: galano-grotesque-SemiBold;
  font-size: 16px;
  line-height: .75;
  letter-spacing: -.16px;
  text-align: left;
  color: #242021;
}

#footer .subtitle-footer a {
  font-family: galano-grotesque-light;
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #666;
}
.espace {
  margin-right: 20em;
}
.pr{
  margin-left: 5em;
}
.logo-footer {
  background-position: left;
  height: 90px;
  width:15em;
  padding-right: 3em;
}
.mrg{
  margin: 1px !important;
}
@media (min-width: 768px){
#footer {
    padding-bottom: 8rem;
}}
