.grid {
  padding-top: 8px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 3%;
  .grille {
    max-width: 300px;
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 50px;
    margin-bottom: 3%;
    .grid-item {
      width: 500px;
      height: 540px;
      border-radius: 35px;
      background: white;
      box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.25);
      cursor: pointer;
      overflow: hidden;
      transition: all 0.5s;
      position: relative;
      .price {
        background-color: #dfe6e9;
        padding: 7px 15px;
        border-radius: 20px;
      }
    }
    .grid-item:hover {
      transform: scale(1.04);
      transition: all 0.5s;
    }
  }
}
.body_espace{
 
  .conteneur{
    display: grid;
    grid-template-columns: 200px 200px ;
    margin-left: 12rem;
    gap: 0rem 13rem;
    margin-top: -136px !important;
  }
}
.position{
  height:200px;
  img{
    width: 20rem !important;
    margin-left: -79px;
    margin-top: -60px;
  }
}


// .grid-item:hover {
//   border: 6px solid rgb(238, 71, 71);
//   transform: scale(1.2);
//   transition: all 0.5s;
//   z-index: 10;
//   box-shadow: inset 1px 1px 30px 10px rgba(0, 0, 0, 0.9);
// }
