.sidebar {
    width: 500px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 100px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        ul {
            display: block;
            margin-left: 20px;
          }
      }
      a {
        display: block;
        color: #333;
        text-decoration: none;
        cursor: pointer;
      }
      li {
        margin-bottom: 10px;
        &:hover ul {
            display: block;
          }
      }
  }
  
  .infoVid{
    width : 65%;
    position:absolute;
    top: 38em;
    left : 30%;
    padding : 2rem 1.5rem;
    text-align: center;
    color : white;
    background: rgba(0, 0, 0, 0.5);
    .title_Info{
      margin: 0.8rem 0 1rem 0;
    }
        
  }
  .navbar{
    background-color:rgb(95, 43, 3)!important;
  }
  .MuiSvgIcon-colorAction{
    color:  rgba(243, 237, 232, 0.583)!important;
  }
  
  .nav-item {
    .nav-link{
      color:white !important;
      font-family: 'Times New Roman', Times, serif;
        &:hover {
        color:  rgb(241, 175, 121)  !important;
      }
     
    }
    .active{
      color:  rgb(241, 175, 121) !important;
      
    }
    div button{
    color:white;
    background: rgb(174, 104, 47) ;
    border: 1px solid white ;
        &:hover {
          color:  rgb(174, 104, 47);
          background:white ;
          box-shadow: 6px 6px 6px gray;
          border: 1px solid rgb(174, 104, 47) ;
    }
}
}
.name_space{
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(95, 43, 3);
}
.size_name{
  font-size: 30px !important;
}
.body_espace{
  background: url('../image/fontAcc1.png');
  padding:2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.registration-form {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  margin-left: 30%;
  
  h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}
  input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

  button {
  background-color: rgb(174, 104, 47) ;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 button:hover {
  background-color:white;
  color:  rgb(174, 104, 47) ;
}

}



  
  
  