.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;

}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}



.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
}
form .nav-item{
    color:white;
    background: rgb(174, 104, 47) ;
    border: 1px solid white ;
    width: 10rem;
        &:hover {
          color:  rgb(174, 104, 47);
          background:white ;
          box-shadow: 6px 6px 6px gray;
          border: 1px solid rgb(174, 104, 47) ;
    }
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
	//margin-top: 15rem;
	

}
.payment{
	min-height:24rem !important;
	max-height:1px !important;
	margin-top: 5rem !important;
	padding-top: 4rem ;
}
.liste{
	min-height: calc(100% - 4rem)!important;
	max-height: 1px !important;
	margin-top: 5rem !important;
}
.checklist{
	width: 8rem;
	height:4rem;
	margin-top:2rem;
}
.labellist{
	font-family:'Times New Roman', Times, serif;
    color: red;
      
}